@media screen and (max-width: 479px) {

   .header {
      width: 200px;
      height: 200px;

   }

   .whitebox {
      width: 60px;
      height: 160px;
      margin-right: 70px;
      padding-top: 1px;
   }

   .left {
      width: 200px;
      float: none;
      height: 100px;
      margin-top: 200px;
      margin: initial;
      position: absolute;
      margin-top: 200px;
   }

   .right {
      position: absolute;
      width: 200px;
      float: none;
      margin: initial;
      margin-top: 300px;
   }


   /* .whitebox:first-child {

      padding-top: 20px;

   }

   .whitebox:last-child {

      padding-bottom: 20px;

   }
 */

   .pb1,
   .pb2,
   .pb3 {
      float: none;
      margin: 10px;
   }

   /* .pb1 {
      margin: 10px 10px 5px 10px;      
      float: none;
   }

   .pb2 {
      margin: 5px 10px 5px 10px ;
      float: none;
   }


   .pb3 {
      margin: 5px 10px 10px 10px;
      float: none;
   } */


   .ob1,
   .ob2,
   .ob3 {
      margin-top: 20px;
      margin-left: 30px;
      margin-right: auto;
   }


   .footer {
      margin-top: 300px;
      width: 200px;
   }

   .wrapper {
      margin: 0 auto;
   }



}